---
---
#header {
  padding: 2em 0;

  h1, h5 {
    margin-bottom: 2rem;
  }

  img {
    width: 60px;
    padding: 2px;
  }
}

td ul {
  padding-left: 1em;
}

footer {
  text-align: center;
  color: #aaa;

  margin-bottom: 1em;
  
  a {
    color: #888;
  }

  img {
    margin-bottom: 1em;
  }

}
